
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/7991579/pexels-photo-7991579.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);">
  <div class="card-container">
  <h1>Catalogue your movies how you want</h1>
  </div>
</div>
<div class="cards">
    <% @lists.each do |list| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.photo.attached? ? cl_image_path(list.photo.key) : 'https://images.pexels.com/photos/3921045/pexels-photo-3921045.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1' %>)">
       <p><%= link_to list.name, list_path(list)%></p>
       <%= link_to "Delete", list_path,data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},class:"btn btn-danger"%>
      </div>
    <% end %>
</div>
<%= link_to "Add a new list 📜", new_list_path, class:"btn btn-danger" %>

<%# find a way to get pictures %>
<%#= cl_image_tag @article.photo.key, height: 300, width: 400, crop: :fill %>
